table {
  table-layout: fixed;
  width: 80%;
  text-align: center;
    margin: auto;
  direction: rtl;
  font-weight: bolder;
}

th, td {
    
  width: 15.33%;
  color: rgb(10, 10, 10);


  
}

th, td {
  border: 1px solid rgb(251, 251, 251);
  color: rgb(12, 12, 12);
  font-weight: bolder;


 
}

